@charset "UTF-8";













#banner {
	width: 100%;
	position: relative;
	height: auto;
	max-height: none;
	max-width: 100%;
	margin: 0;
}
#title-text {
	position: absolute;
	left: 100px;
	top: 100px;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-variant: normal;
	font-size: 300%;
	font-weight: 300;
	margin: 0;
}
#title-text-alt  {
	position: absolute;
	color: #FFFFFF;
	left: 100px;
	font-weight: 300;
	width: 60%;
	max-width: 500px;
	bottom: auto;
	top: 180px;
	margin: 0;
}


/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  margin: 0;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: 400;
}

.regular-h2 {
	font-weight: 400;
}



.list_section {
	display: table;
	margin-left: 4em;
	margin-right: 4em;
}
.list_section .sec_img_con  {
	display: table-cell;
    width: 33%;
    float: left;
}
.list_section .sec_img_con img {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 472px;
    padding-top: 25px;
}
.list_section .sec_reg .work-h2 {
    font-weight: 500;
    padding-left: 30px;
    font-size: x-large;
}
.list_section .sec_reg {
	display: table-cell;
    width: 66%;
    float: left;
}

.regular-p {
	padding-left: 30px;
	padding-right: 2em;
}
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	word-spacing: 1px;
	margin: 0;
	line-height: 1.3;
}
body footer {
	text-align: center;
	color: #747474;
	font-size: small;
	font-weight: 400;
	text-shadow: 0 0;
}
.work-h2 {
}
